<div>Is connected {{ !!(connectedAccount$ | async) }}</div>
<br />
<div>Connected account {{ connectedAccount$ | async }}</div>
<br />
<div>Current chain {{ network | json }}</div>

<div>///////////////////////////////////////////////////////////////</div>
<div>///////////////////////////////////////////////////////////////</div>
<div>///////////////////////////////////////////////////////////////</div>

<div>
  <span> Value currently stored is: {{ storedValue }} </span>
  <br />
  <button (click)="readValue()">Read value</button>
</div>
<br />
<span>New value</span>
<br />
<input #valueInput type="number" />
<br />
<button (click)="writeValue(+valueInput.value)">Write value</button>
